= simple_form_for client do |f|
  .row
    .col-md-12
      = f.input :client_number, input_html: {class: "form-control"}
  .row
    .col-md-4
      =f.input :first_name, input_html: {class: "form-control"}
    .col-md-4
      =f.input :last_name, input_html: {class: "form-control"}
    .col-md-4

 
  %hr
  =button_tag type: :submit, class: "btn btn-primay" do
    Save Client
  - if client.new_record?
    =link_to clients_path, class: "btn btn-default" do
      Cancel
  - else
    = link_to client_path(client.id), class: "btn btn-default" do
      Cancel