%h1
  Customer: #{@client} 
  %small
    #{@client.client_number}

=link_to edit_client_path(@client), class: "btn btn-info" do
  Edit Client

=link_to new_client_bank_account_path(@client.id), class: "btn btn-primary" do
  New Bank Account
= render partial: "bank_accounts", locals: { bank_accounts: @client.bank_accounts }