%h1
  Welcome
.row
  .col-md-6
    .panel.panel-success
      .panel-heading
        Number of accounts:
      .panel-body
        #{number_of_accounts}
    
  .col-md-6
    .panel.panel-success
      .panel-heading
        Number of clients:
      .panel-body
        #{number_of_clients}
