= simple_form_for [client, bank_account] do |f|
  =f.input :account_number, input_html: {class: "form-control"}

  %hr
  =button_tag type: :submit, class: "btn btn-primay" do
    Save Bank Account
  =link_to client_path(client.id), class: "btn btn-default" do
    Cancel